body{
    background-image: url('/assets/img/level5_background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:100% 100%;
}

.imagem{ 
    background: url('/assets/img/background-preto-transparente.jpg');
    width: 700px;
    height: 400px;
    margin: 100px auto;
    filter: opacity(75%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.texto{
    color: white;
    font-size: 80px;
    text-align: center;
}

canvas{
    width: 20%;
	background: blue;
	padding-bottom: 10%;
	float: left;
	margin: 2.5%;
	border-radius: 5%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
    margin-top: 1%;
    transition: transform .2s;
}

canvas:hover{
    transform: scale(1.2);
}

canvas:active{
    background-color: darkmagenta;
}

.center {
    display: flex;
    justify-content: center;
}

.button {
	background-color:chartreuse;
	border-radius:6px;
	border:1px solid #83c41a;
	cursor:pointer;
    color:#1d1818;
    font-size: 20px;
	padding:15px 50px;
}

.button:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.button:active {
    position:relative;
    top:1px;
}


.menuButton {
	background-color:crimson;
	border-radius:3px;
	border:1px solid #942911;
	cursor:pointer;
	color:#ffffff;
    font-size: 13px;
	padding:6px 24px;
    transform: translate(10%, 50%);
}
.menuButton:hover {
	background-color:#eb675e;
}
.menuButton:active {
    position:relative;
    top:1px;
}

#R, #G, #B{
    color: white;
    font-size: 40px;
    font-family: Arial;
    position: relative;
    display: none;
    z-index: 10;
}

.areaRGB {
    background-color: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 40px;
    border-radius: 40%;
    position: relative;
}

.RGB {
    display: inline-flex;
}

.answer {
    display: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}